<%#
This is the default layout fo the application.

#yield

  Yield can be called with any parameters such as `:title`.

  Those can be provided from individual templates via `provide`.
%>
<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>
    <% title = yield :title
       if not title.empty? %>
      <%= title  + ' -'%>
    <% end %>
    Rails Cheat
  </title>
  <%#
  #stylesheet_link_tag

    - On development mode:

      Links to `assets/asset_name.css` + one link for each files included from there via
      the special `*= require_tree` comment.

    - On production mode:

      Links to a single `assets/asset_name.css` CSS which in production should be a
      file concatenated from  all `require` special files.
  %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%#
  #javascript_link_tag

    Same as CSS.
  %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
