<%#
This is the default layout fo the application.

#yield

  Yield can be called with any parameters such as `:title`.

  Those can be provided from individual templates via `provide`.
%>
<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>
    <% title = yield :title
       if not title.empty? %>
      <%= title  + ' -'%>
    <% end %>
    Rails Cheat
  </title>
  <%#
  #stylesheet_link_tag

    Links to `assets/asset_name.css`
  %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <%#
  #javascript_link_tag

    Links to `assets/asset_name.css`
  %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
