%h1 Haml
%p p
%p ul:
%ul
  %li a
  %li b
%p a
%p Multiline:
%p
  a
  b
No tag
- if true
  %p true
- else
  %p false
%h2 Attributes
%div{a: "b" + "0", c:"d"} a b
%div(a: b c: d) a b
%p
  Class and id have special forms.
  Div is default tag if id or class are given.
.class0 inside div
.class.with.spaces inside div
#id0 id0
#id1.class1{a: "b"} id1 class1 a=b
.class2#id2{a: "b"} id1 class1 a=b
%p Non special synatx attributes must come last:
%div{a: "b"}.class1#id1-fail id1 class1
%h2 ruby code
%p= "a"
%p Multiline:
%p
  = "a"
  = "b"
%p
  Mix code and HTML:
  = "code"
%p Single line / inline code + HTML: #{"code"}
%p
  %a{href: "http://stackoverflow.com/questions/3784047/inline-tag-in-haml"}
    It does not seem possible to have inline tags / tags on the same line as other tags
%p
  = succeed '.' do
    %a{href: "http://stackoverflow.com/questions/1311428/haml-control-whitespace-around-text"} Tag without whitespace afterwards
  Horrible but works possible.
-# comment
