<h1>Controller0#show</h1>
<p>id = <%= @model0.id %></p>
<p>string_col = <%= @model0.string_col %></p>
<p>integer_col = <%= @model0.integer_col %></p>
<p>model1_id = <%= @model0.model1_id %></p>
<p>
  <%= link_to 'Edit', {action: 'edit', id: @model0.id} %>
  <%= link_to "Destroy",
      {action: 'destroy', id: @model0.id},
      data: { confirm: "Are you sure you want to destroy this item?" },
      method: :delete
  %>
</p>
<p><%= link_to 'Back', {action: 'index'} %></p>
