<h1>Controller0#show</h1>
<p>id = <%= @model0.id %></p>
<p>string_col = <%= @model0.string_col %></p>
<p>integer_col = <%= @model0.integer_col %></p>
<p>model1_id = <%= @model0.model1_id %></p>
<p>
  <b><%= link_to 'Edit', {action: 'edit', id: @model0.id} %></b>
  <b><%= link_to "Delete", {action: 'delete', id: @model0.id},
    confirm: "Are you sure you want to delete this item?" %></b>
</p>
<p><%= link_to 'Back', {action: 'list'} %></p>
