<%#
This is the default layout fo the application.

#yield

  Yield can be called with any parameters such as `:title`.

  Those can be provided from individual templates via `provide`.
%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <%= include_gon %>
  <%= favicon_link_tag %>
  <title>
    <% title = yield :title
       if not title.empty? %>
      <%= title  + ' -'%>
    <% end %>
    Rails Cheat
  </title>

  <%#
  #stylesheet_link_tag

  #javascript_include_tag

    <http://api.rubyonrails.org/classes/ActionView/Helpers/AssetTagHelper.html>

    Javascript and CSS go under `app/assets`.

    -   On development:

        Links to `assets/application.css` + one link for each files included from there via
        the special `*= require_tree` comment.

    -   On production:

        Links to a single `assets/application<id>.css` CSS which in production should be a
        file concatenated from  all `require` special files.
  %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
